/* COLORS
    Black: 2C363F
    Pink: E75A7C
    Milk-ish: F2F5EA
    Grey-ish: D6DBD2
    Green-ish: BBC7A4
*/

body {
    font-family: 'Saira Extra Condensed', serif;
    font-size: 1.5rem;
    padding-top: 54px;
    color: #2C363F;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
    }
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #BBC7A4;
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    font-size: 3.5rem;  
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', serif;
    font-size: 1.75rem;
}

.list-social-icons a {
    color: #BBC7A4;
}

.list-social-icons a:hover {
    color: #E75A7C;
}

.list-social-icons a .fa-lg {
    font-size: 1.75rem;
}

.list-icons {
    font-size: 3rem;
}

.list-icons .list-inline-item i {
    color: #E75A7C;
}

.list-icons .list-inline-item i:hover {
    color: #E75A7C;
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    text-transform: uppercase;
}

@media (min-width: 992px) {
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
    }
    #sideNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
    }
    #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2);
    }
    #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }
    #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
    }
}

.bg-primary {
    background-color: #E75A7C !important;
}

.text-primary {
    
    color: #F786AA !important;
}

a {
    color: #BBC7A4;
}

a:hover, a:focus, a:active {
    color: #BBC7A4;
}

.home-body {
    position: relative; 
    top: 50%;
    transform: translateY(40%);
    padding-right: 70px;
}

.edu-body {
    position: relative; 
    top: 50%;
    transform: translateY(30%);
    padding-right: 70px;
}

.skills-body, .contact-body {
    padding-right: 70px;
}

.interests-body {
    padding: 0px;
}

.progress {
    height: 40px;
}

.progress-bar {
    font-family: 'Saira Extra Condensed', serif;
    font-size: 1.25rem;
    color: #ffffff;
    background-color: #BBC7A4;
}

table {
    border-collapse:  separate;
    border-spacing: 20px;
}

.interests-img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}

.interests-caption {
    width: 300px;
    text-align: center;
}

.interests-caption .subheading {
    margin-bottom: 0px;
}

.row .col-sm {
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
}

form {
    width: 700px;
    margin-left: 50px;
}

button {
    background-color: #E75A7C !important;
    border: 0px !important;
    font-size: 1.25rem !important;
} 